body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
}

#game-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#battle-area {
  width: 65%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#score-area {
  width: 25%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.cards-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.card {
  width: 250px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #016C3F;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #1D4A4D;
}

.center-page {
      text-align: center;
      margin-top: 100px;
      font-family: Arial, sans-serif;
    }

#special-card {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1.2rem;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.4s ease;
}

#special-card.show {
  opacity: 1;
}

.hidden {
  display: none;
}
